@media screen and (max-width: 1919px) {
    body {
        zoom: 0.8;
    }
    html, body {
        height: 100%;
        margin: 0;
      }

      body {
        background-image: url('your-background-image.jpg');
        background-size: cover;
        background-position: center;
      }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;

}

/* ShareFile  */
section {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background: url("../img/sharebg.png");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 171.6rem;
padding: 0;
margin-left: .9rem;
    padding-bottom: 3rem;
}


section .header {
    margin-right: 3rem;
    margin-left: 3rem;
    padding-top: 3rem;
}

section .header p {
    font-size: 3rem;
    line-height: 3.9rem;
    color: #00448E;
    margin-bottom: 0;
    font-weight: 500;
}

section .header .logo {
    margin-left: auto !important;
    margin-right: auto;
    width: 38.6rem;
    height: 8.3rem;
}

section .header .contact img {
    margin-left: 1.7rem;
    width: 8.1rem;
    height: 8.1rem;
}





/* ShareFile  */


/* PAYMENTFILE  */


.pay .main {
    margin-top: 15rem;
}


.pay .main .top p{
    font-size: 5.5rem;
    line-height: 3.4rem;
    color: #00448E;
    margin-bottom: 2.6rem;
    margin-top: 0;
}
.pay .main .left {
    margin-left: 11.2rem;
    margin-top: 6.7rem;
}
.pay .main .left p{
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #00448E;
    /* font-weight: 400; */
    margin-bottom: 3rem;
}
.pay .main .left .heading{
    font-size: 6.3rem;
    line-height: 3.9rem;
    color: #00448E;
    font-weight: 400;
    margin-bottom: 3rem;
}
.pay .main .left h2{
    font-size: 6.3rem;
    line-height: 7.4rem;
    color: #00448E;
    font-weight: 600;
}
.pay .main .left .payMethod{
    width: 22.5rem;
    margin-top: 3.8rem;
    margin-bottom: 3rem;
    height: 15.9rem;
    background: #FFFFFF;
    box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin-right: 4.3rem;
    border: 0;
}
.pay .main .left .payMethod:nth-child(3) {
    margin-right: 0;
}
.pay .main .left .payMethod:nth-child(1) img{
    width: 9.3rem;
    height: 9.3rem;
}
.pay .main .left .payMethod:nth-child(2) img{
    width: 7.4rem;
}
.pay .main .top .applepay{
    margin-top: 6rem;
}
.pay .main  .top h2{
    font-size: 5.5rem;
    line-height: 3.4rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #00448E;
}
.pay .main  .top button{

    width: 14.1rem;
    height: 10rem;
box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
border-radius: 16px;
background: #FFFFFF;
border: 0;
margin-top: 3rem;
border: 2px solid;
border-image-source: linear-gradient(360deg, #D5DAF8 -36.71%, #60ACFF 105.07%);

}
.pay .main  .top .applepay button{
    margin-top: 3.3rem;
}

.pay .main  .applepay{
    margin-top: 6rem;
}
.pay .main  .right{
/* margin-top: 6rem; */
margin-right: 17.3rem;
margin-left: auto;
}
.pay .main  .right .pos{
}
.pay .main  .right h2{
    margin-left: 3rem;
    margin-top: 2.9rem;
    font-size: 5.5rem;
    line-height: 3.4rem;
    color: #00448E;
    font-weight: 600;
}
.pay .main  .right h2 span{
    margin-left: 2.4rem;
}
.pay   .back{
    width: 96px;
    height: 86px;
    background: #00448E;
    box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-left: 53px !important;
    display: block;
    text-decoration: none;
    margin-top: 93px;
    margin-right: auto;
}

.dropdown{
    display: none !important;
}
.pay .date{
    margin-top: .6rem !important;
        font-size: 3rem;
        line-height: 3.9rem;
        color: #00448E;
        text-decoration: none;
        font-weight: 500;
    }
/* PAYMENTFILE  */

@media screen and (max-width : 1920px) {
    @media screen and (max-height : 1000px) {
        section .main {
            margin-top: 7.6rem !important;
        }
        .pay .back{
            margin-top: 7rem;
        }
    }
}
@media screen and (max-width : 1900px) {
    section .main {
        margin-top: 9.6rem !important;
    }
    .processing .back {
        margin-top: 9rem;
    }
    .container{
    padding-bottom: 0;
    }
    .bg {
    top: 0;
    width: 100%;
}
}

@media screen and (max-width : 1600px) {
    .pay .main .right .pos {
        width: 41.7rem;
        height: auto;
    }
    .pay .main .right h2 {
        font-size: 4.5rem;
    }
    .pay .main .left h2,
    .pay .main .left .heading {
        line-height: 5.4rem;
        font-size: 5.3rem;
    }
    .pay .main .left .payMethod {
        width: 19.5rem;
        margin-top: 1.8rem;
        margin-right: 2.3rem;
    }
    .pay .back{
        margin-top: 3.3rem;
    }
}

@media screen and (max-width : 1400px) {
.pay   .back{
    width: 80px;
    height: 73px;
    font-size: 35px;
}
}
@media screen and (max-width : 1366px) {
    html {
        font-size: 52.5%;
    }
    .pay .main .right {
        margin-right: 11.3rem;}
}

@media screen and (max-width : 1280px) {
    .pay   .back{
        width: 71px;
        height: 59px;
        font-size: 32px;
    }
}
@media screen and (max-width : 1110px) {
    section .header p {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
    section .header .contact img {
        width: 6.1rem;
        height: 6.1rem;
    }
    .pay .main .right .pos {
        width: 37.7rem;
    }
    .pay .main .right{
        margin-left: 7rem;

    }
}
@media screen and (max-width : 1024px) {
    section .main {
        margin-top: 7.6rem !important;
    }
    .pay .main .left .payMethod {
        width: 18.5rem;
        height: 12.9rem;
    }
    .pay .back {
        margin-top: 6rem;
    }
}
@media screen and (max-width : 1024px) {
    @media screen and (max-height : 600px) {
        .pay .back {
            margin-top: 0;
        }
        section .main {
            margin-top:2rem !important;
        }
        .pay .main .left .heading{
            margin-bottom: 1rem;
        }
    }
}
@media screen and (max-width : 990px) {
    .pay .main .right .pos {
        display: none;
    }
    .pay .main .right{
        margin-right: auto;
        margin-left: auto;
    }
    .pay .main{
        flex-direction: column;
        align-items: center !important;
    }
    .pay .main .left{
        align-items: center !important;
        text-align: center;
        margin-left: 0;

    }
    .pay .main .right h2{
        margin-left: 0;
    }

    section .header .logo {
        margin-left: 0 !important;
        
    }
        section .header p {
            display: none;
         }
         section .header .contact p {
             position: static;
             text-align: right;
             margin-top: 0;
             margin-bottom:0 ;
         }
        .contactPc{
            display: none !important;
        }
        .dropdown{
            display: flex !important;
            width: auto;
        }
        .dropdown p{
            display: flex !important;

            position: static !important;
            padding: 1rem;
        }
        .dropdown ul{
            width: 256px;
        }
        .dropdown img{
            width: 6.1rem;
            height: 6.1rem;
        }
        .pay .back {
            width: 43px;
            height: 46px;
            font-size: 20px;
    }
}

@media screen and (max-width : 576px) {
    .dropdown{
        display: none !important;
    }
    section .header .logo{
        margin-left: auto !important;
        width: 200px;
        height: auto;
    }
    .pay .main .left{
        margin-top: 0;
    }
    /* .pay .main .left .d-flex{
        flex-direction: column;
    } */
    .pay .main .left .payMethod{
        margin-bottom: 0;
        margin-right: 0;
        margin: 2rem 0.5rem;
    }
    .pay .main .left .payMethod {
        width: 15.5rem;
        height: 10.9rem;
    }
    .pay .main .left .payMethod:nth-child(1) img {
        width: 7.3rem;
        height: 7.3rem;
    }
    .pay .main .left .payMethod:nth-child(2) img {
        width: 5.4rem;
    }
    .pay .main .left .payMethod:nth-child(3) img {
        width: 7rem;
    }
    .pay .main .left h2, .pay .main .left .heading {
        line-height: 3.4rem;
        font-size: 4.3rem;
    }
    .pay .back {
        margin-left: auto !important;
    }
    .pay .main .left p:nth-last-child(1){
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .pay .main .right h2 {
        font-size: 3.5rem;
        margin-top: 1.9rem;
        line-height: 2.4rem;
    }
}

@media screen and (max-width : 480px) {
   
    section .main {
        margin-top: 8rem !important;
    }
    .pay .main .left h2, .pay .main .left .heading {
        line-height: 4.4rem;
        font-size: 4rem;
    }
    .pay .main .left .heading{
        margin-bottom: 1rem;
    }
    .pay .main .left h2{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width : 418px) {
    .pay .main .left h2, .pay .main .left .heading {
        line-height: 2.8rem;
        font-size: 3rem;
    }
    .pay .main .left .payMethod {
        width: 12.5rem;
        height: 7.9rem;
        margin-top: 1rem;
        border-radius: 1.6rem;
    }
    .pay .main .left .payMethod:nth-child(1) img {
        width: 5.3rem;
        height: 5.3rem;
    }
    .pay .main .left .payMethod:nth-child(2) img {
        width: 4.4rem;
    }
    .pay .main .left .payMethod:nth-child(3) img {
        width: 6rem;
    }
    .pay .main .left p:nth-last-child(1) {
        margin-bottom: 0;
    }
    .pay .back {
        margin-top: 11rem;
    }
}
