@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;

}

/* ShareFile  */
section {
    height: 108rem;
    overflow: hidden;
}

.container {
    max-width: 169.8rem;
padding: 0;
margin-left: .9rem;
    padding-bottom: 9.1rem;
}

section .header {

    padding-top: 5.2rem;
}

section .header p {
    font-size: 3rem;
    line-height: 3.9rem;
    color: #00448E;
    margin-bottom: 0;
    font-weight: 500;
}

section .header .logo {
    margin-left: 37.4rem !important;
    margin-right: 29.2rem;
    width: 38.6rem;
    height: 8.3rem;
}

section .header .contact img {
    margin-left: 1.7rem;
}

section .middle {

    margin-top: 16.6rem;
    z-index: 10;
    position: relative;
}

section .middle .left {
    margin-top: 7.3rem;
}

section .middle .left img {
    width: 10.3rem;
    height: 10.3rem;
}

section .middle .left .mainText {
    font-size: 6.3rem;
    line-height: 3.9rem;
    color: #00448E;
}

section .middle .left h2 {
    font-size: 6.3rem;
    line-height: 3.9rem;
    color: #00448E;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 5.6rem;
}

section .middle .left .wa .info {
    width: 37.9rem;
    height: 8.8rem;
    box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin-left: 2.1rem;
    font-size: 3rem;
    line-height: 3.9rem;
    color: #00448E;
}
section .middle .right .info
{
    margin-left: 0;
}
section .middle .left input{
border: 0;
outline: none;
padding-left: 3.1rem;
}



section .middle .right {
    margin-right: 14.8rem;
}

section .bottom {

    margin-top: 23.6rem;
    margin-right: -6rem;
}

section .bottom p {
    font-size: 3rem;
    line-height: 3.9rem;
    color: #00448E;
    margin-bottom: 0;
    font-weight: 500;

}

section .bottom a {
    margin-left: 38.1rem;
    width: 24.6rem;
    height: 8.8rem;
    font-size: 3rem;
    line-height: 3.9rem;
    background: #00448E;
    box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    text-decoration: none;
}

section .bottom a img {
    margin-right: 1.7rem;
}


.bg {
    top: 13.5rem;
}

/* ShareFile  */




/* CodePage  */

.code{
    background: #000;
    background:  url('../img/codebg.png');
    background-position: center;
    background-size: cover;
}
.code .middle{
    margin-top: 23.9rem;
}
.code .middle .left{
    margin-top: 0;
}
.code .middle .right {
margin-right: -6.5rem;
}
.code .right .dial{
    width: 74.7rem;
    height: 36.2rem;
}
.code .right .dial button{
    width: 22.2rem;
    height: 7.8rem;
    box-shadow: 8px 21px 9px rgba(0, 0, 0, 0.01), 5px 12px 8px rgba(0, 0, 0, 0.03), 2px 5px 6px rgba(0, 0, 0, 0.04), 1px 1px 3px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin: .8rem 1.3rem;
font-size: 3rem;
line-height: 4.5rem;
color: #00448E;
font-weight: 500;
text-decoration: none;
}
.code .bottom{
    margin-top: 10rem;
}

#submitButton{
    margin-left: 5px;
}

/* CodePage  */